// -------------------------------------
// Base Styles file
// -------------------------------------

@import 'variables';

  *, *:before, *:after {
    box-sizing: border-box;
  }
  html {
    height: 100%;
    font-size: 62.5%;
  }
  body {
    height: 100%;
    font-size: 1.4rem;
    font-family: sans-serif;
    line-height: 1.8;
  }
  .wrapper {
    width: 100%;
    min-width: 320px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
  }
  .container {
    max-width: 94rem;
    margin: 0 auto;
    padding: 0 1rem;
    overflow: hidden;
  }
